.btn-outline-light:hover{
    background-color: transparent !important;
    color: white !important;
    opacity: 0.8;
}
.btn-outline-dark:hover{
    background-color: transparent !important;
    color: #333 !important;
    opacity: 0.8;
}
.px-192px{
    padding-left: 192px;
    padding-right: 192px;
}
.pe-666px{
    padding-right: 666px;
}
/* .fa-soundcloud{
    color: white !important;
} */
.px-56px{
    padding: 0 56px;
}

.mw-500px{
    min-width: 500px;
}
.mw-400px{
    min-width: 400px;
}
.mw-fit{
    min-width: fit-content;
}
.z-index-1{
    z-index: 1;
}
.w-20{
    max-width: 20%;
}
.height-55px{
    height: 55px;
}
.song-cover{
    width:100%;
    height: auto;
}
.cursor-pointer{
    cursor: pointer;
}
.artist-name:hover{
    color: #333 !important;
}
.like-follow-more{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.678), transparent);
}
.like-follow-more, .play{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
}
.song-img-container:hover .like-follow-more,
.song-img-container:hover .play{
    visibility: visible;
    opacity: 1;
}
.song i:hover{
    transition: all 0.2s ease-out;
    opacity: 0.8;
}
.top-25{
    top: 25%;
}
.footer__nav-link:hover a{
    color: #333 !important;
}
.fa-play-circle{
    font-size: 48px;
}
.login-dialog{
    background-color: rgba(51, 51, 51, 0.644);
}
.end-8px.top-4px{
    right: 8px;
    top: 4px;
}
.h-fit{
    height: fit-content;
}
.login-dialog{
    z-index: 99;
}
.navbar li:hover a{
    background-color: black;
}
.user-menu-open:hover{
    background-color: black;
    
}
.line-height-55px{
    line-height: 55px;
}
.border-start-black{
    border-left: 1px solid black ;
}
.border-end-black{
    border-right: 1px solid black ;
}
.userImg-container{
    border-radius: 50px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    line-height: 0;
}