@media (max-width: 1199px){
    .pe-666px{
        padding-right: 512px;
    }
}
@media (max-width: 1023px) {
    .px-56px{
        padding: 0;
    }
    .px-192px{
        padding-left: 64px;
        padding-right: 64px;
    }
    
    .pe-666px{
        padding-right: 356px;
    }
    .mw-500px{
        min-width: 350px;
    }
}
@media (max-width: 740px){
    .w-20{
        max-width: 50%;
    }
    .mw-500px{
        min-width: 100%;
    }
    .px-192px{
        padding-left: 32px;
        padding-right: 32px;
    }
    .pe-666px{
        padding-right: 144px;
    }
    .dialog{
        min-width: 70%;
    }
}
@media (max-width: 450px){
    .pe-666px{
        padding-right: 44px;
    }
    .navbar-brand{
        display: none;
    }
    .dialog{
        min-width: 100%;
    }
}